spring.application.name=detentor

# ===============================================
# CONFIGURAÇÃO DO BANCO DE DADOS POSTGRESQL
# ===============================================
spring.datasource.url=jdbc:postgresql://SEU_IP_AQUI:5432/SEU_BANCO_DE_DADOS
spring.datasource.username=SEU_USUARIO_AQUI
spring.datasource.password=SUA_SENHA_AQUI

# ===============================================
# CONFIGURAÇÃO DO JPA/HIBERNATE
# ===============================================
spring.jpa.hibernate.ddl-auto=update 
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect


# Chave secreta para assinar os tokens JWT
# IMPORTANTE: Em produção, use um valor longo e aleatório (ex: um gerador de GUID ou Base64)
jwt.secret=minhachavesecreta1234567891011121314151617181920
